# Dominio base para la consulta de títulos
SENESCYT_DOMINIO=https://titulos-edusuperior.minedec.gob.ec

# Endpoint de la API del SRI para consulta de RUC
SRI_API_URL=https://srienlinea.sri.gob.ec/sri-catastro-sujeto-servicio-internet/rest/ConsultaRuc/obtenerPorNumerosRuc

# Endpoint de la API de la Función Judicial para demandas
JUDICIAL_API_URL=https://api.funcionjudicial.gob.ec/EXPEL-CONSULTA-CAUSAS-SERVICE/api/consulta-causas/informacion/buscarCausas

# (Solo Windows) Ruta al ejecutable de Tesseract OCR. Descomentar y ajustar si se usa en Windows.
# RUTA_TESSERACT_WINDOWS=C:\Program Files\Tesseract-OCR\tesseract.exe
